/* Principals elements of the page */

body
{
    font-family: 'Raleway', sans-serif;
    max-width: 1440px;
    margin: 0;
    padding: 0;
}

.bloc_page
{
    margin-left: 2%;
    margin-right: 2%;
}

/* Header */

header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 2.5em;
}

/* Header - main logo */

.logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.logo img
{
    width: 80px;
    height: 60px;
}

/* Header - search bar */

#sinscrire
{
    color: #0065FC;
    font-weight: bold;
}

.option ul
{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.option li
{
    padding-right: 10px;
    margin-left: 2em;
    margin-right: 2em;
    font-size: 1em;
}

.option a
{
    color: black;
    text-decoration: none;
}

.option a:hover
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 3.8em;
}

/* Object */

.subtitle h2
{
    font-weight: bold;
    font-size: 2em;
}

h3
{
    font-size: 1.25em;
    font-weight: normal;
}

/*City search bar*/

.search-bar
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.map-pin
{ 
    border-color: #F2F2F2;
    height: 34px;
    width: 40px;
}

.search
{
    height: 30px;
    width: 200px;
    border-color: #F2F2F2;
    font-weight: bold;
    color: black;
    border-style: solid;
    border-width: thin;
    margin-left: -0.3em;
}
.btn-search
{
    background-color: #0065FC ;
    color: white;
    border-top-right-radius: 0.8em;
    border-bottom-right-radius: 0.8em;
    top: 355px;
    left: 575px;
    height: 33px;
    width: 100px;
    border-color: #0065FC;
    border: none;
}

.search-bar-mobile
{
    display: none;
}

/*Filter*/

.filters
{
    display: flex;
    align-items: flex-start ;
    padding-top: 1.5em;
    margin-bottom: -1.5em;
}

h4
{
    font-weight: bold;
    font-size: 1em;
    margin-right: 2em;
    margin-top: 0.5em;
}

.economic .money 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;  
}

.money
{
    width: 50px;
    height: 40px;
    position: relative;
}

.economic
{
    margin-right: 1em;
    font-weight: bold;
    font-family: 'Raleway';
    font-size: 0.85em;
    background-color: white;
    border-style: solid;
    border-color: #F2F2F2;
    padding: 10px 25px 10px 40px;
    margin-left: -3em;
    border-radius: 3em;

}

.economic:hover 
{
    color: #0065FC;
    border-top: 1px solid #0065FC;
}

.familial .child 
{
    display: flex; 
    align-items:unset; 
}

.child
{
    width: 50px;
    height: 40px;
    margin-top: 0%;
    position: relative;
}

.familial
{
    margin-right: 1em;
    font-weight: bold;
    font-family: 'Raleway';
    font-size: 0.85em;
    background-color: white;
    border-style: solid;
    border-color: #F2F2F2;
    padding: 10px 25px 10px 40px;
    margin-left: -3em;
    border-radius: 3em;
}

.familial:hover 
{
    color: #0065FC;
    border-top: 1px solid #0065FC;
}

.romantic .heart 
{
    display: flex; 
    align-items:unset; 
}

.heart
{
    width: 50px;
    height: 40px;
    margin-top: 0%;
    position: relative;
}

.romantic
{
    margin-right: 1em;
    font-weight: bold;
    font-family: 'Raleway';
    font-size: 0.85em;
    background-color: white;
    border-style: solid;
    border-color: #F2F2F2;
    padding: 10px 25px 10px 40px;
    margin-left: -3em;
    border-radius: 3em;
}

.romantic:hover 
{
    color: #0065FC;
    border-top: 1px solid #0065FC;
}

.animals .dog
{
    display: flex; 
    align-items:unset; 
}

.dog
{
    width: 50px;
    height: 40px;
    margin-top: 0%;
    position: relative;
}

.animals
{
    margin-right: 1em;
    font-weight: bold;
    font-family: 'Raleway';
    font-size: 0.85em;
    background-color: white;
    border-style: solid;
    border-color: #F2F2F2;
    padding: 10px 25px 10px 40px;
    margin-left: -3em;
    border-radius: 3em;
}
.animals:hover 
{
    color: #0065FC;
    border-top: 1px solid #0065FC;
}


/*Information*/

.information
{
    display: flex;
    align-items: flex-end ;
}

h5
{
    font-size: 0.8em;
    font-weight: normal;
    margin-left: 2.5em;
}

.info-pin
{
    width: 24px;
    height: 24px;
    margin-bottom: -2.7em;
}

/*Accomodation*/

.section1
{
    display: flex;
    justify-content: space-around;
    align-items:inherit;

}

.accomodation
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    border-radius: 2em;
    width: 935px;
    height: 580px;
    margin-left: -1.5em;
}
.accomodation1
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 1em;
}

aside
{ 
    background-color: #F2F2F2;
    border-radius: 2em;
    width: 370px;
    height: 580px; 
    margin-right: 1em;
}

#Hébergements
{
    font-weight: bold;
    font-size: 0.9em;
    margin-left: 3em;
    margin-bottom: 0.5em;
    margin-top: 1.5em;
}

.marcus
{
    background-color: white;
    box-shadow: 0px 2px 5px #F2F2F2;
    border-color: #F2F2F2;
    border-radius: 12px;
    padding: 8px;
    width: 250px;
    height: 180px;
    margin-bottom: 1.5em;
    margin-left: 1.5em;
}

.marcus-img
{
    width: 250px;
    height: 125px;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    margin-top: -0.15em;
    margin-right: -0.15em;
    margin-left: -0.05em;
}

.marcus-title
{
    font-weight: bold;
    margin-top: 0em;
    font-size: 0.9em;
}

.marcus-price
{
    margin-top: -1em;
    margin-bottom: -0.3em;
    font-size: 0.70em;
}
.marcus-star img
{
    height: 10px;
    width: 10px;
    margin-top: 0.75em; 
}
.marcus-link
{
    color: black;
    text-decoration: none;
}
.fred
{
    background-color: white;
    box-shadow: 0px 2px 5px #F2F2F2;
    border-color: #F2F2F2;
    border-radius: 12px;
    padding: 8px;
    width: 250px;
    height: 180px;
    margin-bottom: 1.5em;
    margin-left: 1.5em;
}

.fred-img
{
    width: 250px;
    height: 125px;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    margin-top: -0.15em;
    margin-right: -0.15em;
    margin-left: -0.05em;
}

.fred-title
{
    font-weight: bold;
    margin-top: 0em;
    font-size: 0.90em;
}

.fred-price
{
    margin-top: -1em;
    margin-bottom: -0.3em;
    font-size: 0.70em;
}
.fred-star img
{
    height: 10px;
    width: 10px;
    margin-top: 0.75em; 
}
.fred-link
{
    color: black;
    text-decoration: none;
}

.reisetopia
{
    background-color: white;
    box-shadow: 0px 2px 5px #F2F2F2;
    border-color: #F2F2F2;
    border-radius: 12px;
    padding: 8px;
    width: 250px;
    height: 180px;
    margin-bottom: 1.5em;
    margin-left: 1.5em;
}

.reisetopia-img
{
    width: 250px;
    height: 125px;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    margin-top: -0.15em;
    margin-right: -0.15em;
    margin-left: -0.05em;
}

.reisetopia-title
{
    font-weight: bold;
    margin-top: 0em;
    font-size: 0.90em;
}

.reisetopia-price
{
    margin-top: -1em;
    margin-bottom: -0.3em;
    font-size: 0.70em;
}
.reisetopia-star img
{
    height: 10px;
    width: 10px;
    margin-top: 0.75em; 
}
.reisetopia-link
{
    color: black;
    text-decoration: none;
}

.annie
{
    background-color: white;
    box-shadow: 0px 2px 5px #F2F2F2;
    border-color: #F2F2F2;
    border-radius: 12px;
    padding: 8px;
    width: 250px;
    height: 180px;
    margin-bottom: 1.5em;
    margin-left: 1.5em;
}

.annie-img
{
    width: 250px;
    height: 125px;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    margin-top: -0.15em;
    margin-right: -0.15em;
    margin-left: -0.05em;
}

.annie-title
{
    font-weight: bold;
    margin-top: 0em;
    font-size: 0.90em;
}

.annie-price
{
    margin-top: -1em;
    margin-bottom: -0.3em;
    font-size: 0.70em;
}
.annie-star img
{
    height: 10px;
    width: 10px;
    margin-top: 0.75em; 
}
.annie-link
{
    color: black;
    text-decoration: none;
}

.nicate
{
    background-color: white;
    box-shadow: 0px 2px 5px #F2F2F2;
    border-color: #F2F2F2;
    border-radius: 12px;
    padding: 8px;
    width: 250px;
    height: 180px;
    margin-bottom: 1.5em;
    margin-left: 1.5em;
}

.nicate-img
{
    width: 250px;
    height: 125px;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    margin-top: -0.15em;
    margin-right: -0.15em;
    margin-left: -0.05em;
}

.nicate-title
{
    font-weight: bold;
    margin-top: 0em;
    font-size: 0.90em;
}

.nicate-price
{
    margin-top: -1em;
    margin-bottom: -0.3em;
    font-size: 0.70em;
}
.nicate-star img
{
    height: 10px;
    width: 10px;
    margin-top: 0.75em; 
}
.nicate-link
{
    color: black;
    text-decoration: none;
}

.febrian
{
    background-color: white;
    box-shadow: 0px 2px 5px #F2F2F2;
    border-color: #F2F2F2;
    border-radius: 12px;
    padding: 8px;
    width: 250px;
    height: 180px;
    margin-bottom: 1.5em;
    margin-left: 1.5em;
}

.febrian-img
{
    width: 250px;
    height: 125px;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    margin-top: -0.15em;
    margin-right: -0.15em;
    margin-left: -0.05em;
}

.febrian-title
{
    font-weight: bold;
    margin-top: 0em;
    font-size: 0.90em;
}

.febrian-price
{
    margin-top: -1em;
    margin-bottom: -0.3em;
    font-size: 0.70em;
}
.febrian-star img
{
    height: 10px;
    width: 10px;
    margin-top: 0.75em; 
}
.febrian-link
{
    color: black;
    text-decoration: none;
}

.afficher
{
    border-radius: 2em;
    font-weight: bold;
    font-size: 1em;
    margin-left: 1.75em;
    margin-bottom: 1em;
    margin-top: -1em;

}
.emile
{
    background-color: white;
    box-shadow: 0px 2px 5px #F2F2F2;
    border-color: #F2F2F2;
    border-radius: 12px;
    width: 300px;
    height: 130px;
    margin-left: 2.25em;
    margin-top: 0.5em;
}

.emile-img
{
    width: 120px;
    height: 120px;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    margin-top: 0.35em;
    margin-left: 0.4em;
}

.emile-title
{
    font-weight: bold;
    font-size: 0.9em;
    margin-left: 11em;
    margin-top: -8em;
}
.emile-title2
{
    font-weight: bold;
    font-size: 0.9em;
    margin-left: 11em;
    margin-top: -1em;
}

.emile-price
{
    margin-top: -0.5em;
    margin-left: 12.5em;
    font-size: 0.80em;
}

.emile-star
{
    display: flex;
    flex-direction: row;
}

.emile-star img
{
    height: 10px;
    width: 10px;
    margin-bottom: -1em;
}

.emile-star1
{
    margin-left: 10em;
}

.emile-link
{
    color: black;
    text-decoration: none;
}

.aw
{
    background-color: white;
    box-shadow: 0px 2px 5px #F2F2F2;
    border-color: #F2F2F2;
    border-radius: 12px;
    width: 300px;
    height: 130px;
    margin-left: 2.25em;
    margin-top: 2em;
}

.aw-img
{
    width: 120px;
    height: 120px;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    margin-top: 0.35em;
    margin-left: 0.4em;
}

.aw-title
{
    font-weight: bold;
    font-size: 0.90em;
    margin-left: 11em;
    margin-top: -8em;
}
.aw-title2
{
    font-weight: bold;
    font-size: 0.90em;
    margin-left: 11em;
    margin-top: -1em;
}

.aw-price
{
    margin-top: -0.5em;
    margin-left: 12.5em;
    font-size: 0.80em;
}

.aw-star
{
    display: flex;
    flex-direction: row;
}

.aw-star img
{
    height: 10px;
    width: 10px;
    margin-bottom: -1em;
}

.aw-star1
{
    margin-left: 10em;
}

.aw-link
{
    color: black;
    text-decoration: none;
}

.zakaria
{
    background-color: white;
    box-shadow: 0px 2px 5px #F2F2F2;
    border-color: #F2F2F2;
    border-radius: 12px;
    width: 300px;
    height: 130px;
    margin-left: 2.25em;
    margin-top: 2em;
}

.zakaria-img
{
    width: 120px;
    height: 120px;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    margin-top: 0.35em;
    margin-left: 0.4em;
}

.zakaria-title
{
    font-weight: bold;
    font-size: 0.90em;
    margin-left: 11em;
    margin-top: -8em;
}
.zakaria-title2
{
    font-weight: bold;
    font-size: 0.90em;
    margin-left: 11em;
    margin-top: -1em;
}

.zakaria-price
{
    margin-top: -0.5em;
    margin-left: 12.5em;
    font-size: 0.80em;
}

.zakaria-star
{
    display: flex;
    flex-direction: row;
}

.zakaria-star img
{
    height: 10px;
    width: 10px;
    margin-bottom: -1em;
}

.zakaria-star1
{
    margin-left: 10em;
}

.zakaria-link
{
    color: black;
    text-decoration: none;
}

.most-popular
{
    display: flex;
    flex-direction: row;
}

.most-popular h2
{
    font-weight: bold;
    font-size: 1.25em;
    margin-left: 1em;
    margin-top: 2em;
}

.most-popular img
{
    height: 20px;
    width: 20px;
    margin-left: 7em;
    margin-top: 2.75em;
}

/* Activities search*/

.section2
{
    margin-left: 0em;
}

.activities
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 0.9em;
    margin-left: 1em;
    margin-bottom: 1em;
    margin-top: 2em;
}
.port
{
    background-color: white;
    box-shadow: 0px 2px 5px #F2F2F2;
    border-radius: 10px;
    height: 370px;
    width: 300px;
    margin-left: 1em;
}

.port-img
{
    width: 300px;
    height: 330px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.port p
{
    font-weight: bold;
    font-size: 0.90em;
    margin-left: 1em;
    margin-top: 0.5em;
}

.port-link
{
    color: black;
    text-decoration: none;
}

.pomegues
{
    background-color: white;
    box-shadow: 0px 2px 5px #F2F2F2;
    border-radius: 10px;
    height: 215px;
    width: 300px;
    margin-left: 22em;
    margin-top: -23em;
}
.pomegues-img
{
    width: 300px;
    height: 175px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.pomegues p
{
    font-weight: bold;
    font-size: 0.90em;
    margin-left: 1em;
    margin-top: 0.5em;
}

.pomegues-link
{
    color: black;
    text-decoration: none;
}

.frioul
{
    background-color: white;
    box-shadow: 0px 2px 5px #F2F2F2; 
    border-radius: 10px;
    height: 130px;
    width: 300px;
    margin-left: 22em;
    margin-top: 1.5em;
}

.frioul-img
{
    width: 300px;
    height: 90px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.frioul p
{
    font-weight: bold;
    font-size: 0.90em;
    margin-left: 1em;
    margin-top: 0.35em;
}
.frioul-link
{
    color: black;
    text-decoration: none;
}

.national
{
    background-color: white;
    box-shadow: 0px 2px 5px #F2F2F2;
    border-radius: 10px;
    height: 370px;
    width: 300px;
    margin-left: 43em;
    margin-top: -23em;
}

.national-img
{
    width: 300px;
    height: 330px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.national p
{
    font-weight: bold;
    font-size: 0.90em;
    margin-left: 1em;
    margin-top: 0.5em;
}

.national-link
{
    color: black;
    text-decoration: none;
}

.garde
{
    background-color: white;
    box-shadow: 0px 2px 5px #F2F2F2; 
    border-radius: 10px;
    height: 170px;
    width: 300px;
    margin-left: 64em;
    margin-top: -23em;
}

.garde-img
{
    width: 300px;
    height: 135px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.garde p
{
    font-weight: bold;
    font-size: 0.90em;
    margin-left: 1em;
    margin-top: 0.35em;
}
.garde-link
{
    color: black;
    text-decoration: none;
}

.parc
{
    background-color: white;
    box-shadow: 0px 2px 5px #F2F2F2; 
    border-radius: 10px;
    height: 170px;
    width: 300px;
    margin-left: 64em;
    margin-top: 1.75em;
}

.parc-img
{
    width: 300px;
    height: 135px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.parc p
{
    font-weight: bold;
    font-size: 0.90em;
    margin-left: 1em;
    margin-top: 0.35em;
}
.parc-link
{
    color: black;
    text-decoration: none;
}

/* Footer */

footer
{
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    max-width: 100%;
    width: 1440px;
    margin-left: -2%;
    margin-top: 2%;
    padding: 0 2rem;
}
footer p
{
    font-size: 0.80em;
}

footer h4
{
    font-weight: bold;
    font-size: 0.9em;
}

.a-propos
{
    margin-top: 1em;
    margin-left: 1em;
}

.nos-hébergements
{
    margin-top: 1em;
    margin-left: 3em;
}

.assistance
{
    margin-top: 1em;
    margin-right: 22em;
}

@media only screen and (min-width : 320px) and (max-width : 549px) 
{
    header
    {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 0em;
    }
    .bloc_page
    {
        margin-left: 0%;
        margin-right: 0%;
    }
    .logo img, #sinscrire
    {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        margin-top: 1em;
        margin-left: 1em;
    }
    .option a
    {
        font-size: 0.90em;
        color:black;
        text-decoration-line: none; 
        padding-bottom: 1.5em;
        padding-right: 1em;
        border-bottom: 3px solid #F2F2F2;
        width: 100%;
    }
    
    #hébergements
    { 
        padding-left: 4.5em;
        padding-right: 3em;
        margin-left: -5em;
    }    
    #activités
    {
        padding-left: 3em;
        padding-right: 3.5em;
        margin-left: -4em;
    }
    .option ul 
    {
        justify-content: flex-start;
        flex-wrap: nowrap;
    }
    .option a:hover
    {
        color: #0065FC;
        text-decoration-line: none;
        border-bottom: medium solid #0065FC;
        border-top: 0;
        padding-top: 0em;
    }

    #hébergements, #activités
    {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        margin-left: -5em;
    }
    #sinscrire
    {
        margin-top: -3.5em;
        margin-left: -10em;
        border-bottom: none;
        color: #0065FC;
        font-family: 'Raleway-Bold', Arial, sans-serif;
        font-weight: bold;
    }

    .subtitle h2
    {
        font-size: 1.5em;
        margin-left: 0.5em;
    }
    h3
    {
        font-size: 0.9em;
        font-weight: normal;
        margin-left: 1em;
    }
    .search-bar
    {
        display: none;
    }
    .search-bar-mobile
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: 1em;
    }
    .map-pin-mobile
    { 
        border-color: #F2F2F2;
        height: 34px;
        width: 40px;  
        position: relative;  
    }
    .search-mobile
    {
        height: 30px;
        width: 200px;
        border-color:#F2F2F2;
        font-weight: bold;
        color: black;
        border-style: solid;
        border-width: thin;
        margin-left: -0.3em;
    }
    .btn-search-mobile
    {
        background-color: #0065FC ;
        color: white;
        border-radius: 0.8em;
        height: 34px;
        width: 40px;
        border-color: #0065FC;
        border: none;
        margin-left: -1em;
    }  
    .search-pin-mobile
    {
        color: #F2F2F2;
        height: 20px;
        width: 20px;
        margin-top: 0.2em;
    }
    .filters
    {
        display: flex;
        flex-direction: column;
        margin-left: 1em;
    }
    .economic
    {
        margin-left: 0.5em;
        margin-top: -3em;
        -webkit-margin-start: 0.5em;
        -webkit-margin-before: -3em;
        -webkit-margin-after: 2em;
    }
    .child
    {
        margin-left: 10.5em;
        margin-top: -2.5em;
        -webkit-margin-after: 0.9em;
        -webkit-margin-start: 10.5em;
    }
    .familial
    {
        margin-left: 13em;
        margin-top: -3em;
        -webkit-margin-after-collapse: 2em;
        -webkit-margin-before: -4.5em;
        -webkit-margin-start: 13.5em;
    }
    .child, .familial
    {
        -webkit-margin-before: -4em;
    }
    .heart
    {
        margin-top: 0.7em;
    }
    .romantic
    {
        margin-left: 0.5em;
        margin-top: -3em;
        -webkit-margin-after: 1em;
        -webkit-margin-before: -3em;
    }
    .dog
    {
        margin-top: 0.7em;
        -webkit-margin-before: 2em;
        -webkit-margin-after: -2.5em;
    }
    .animals
    {
        margin-left: 0.5em;
        margin-top: -3em;
        -webkit-margin-after: 0em;
    }
    .dog, .animals
    {
        -webkit-margin-before: 0em;
    }
    h5
    {
        width: 250px;
        margin-left: 4em;
    }
    .info-pin
    {
        margin-left: 1em;
        margin-top: 3em;
    }
    .section1
    {
        display: flex;
        flex-direction: column-reverse;
    }
    aside
    { 
        background-color: #F2F2F2;
        border-radius: 0em;
        width: 375px;
        height: auto;
        margin-left: 0em;
        margin-right: 1em;
        -webkit-padding-end: 1em;
        -webkit-padding-start: 1em;

    }
    .accomodation1 
    {
        display: flex;
        justify-content: space-around;
        margin-top: -1em;
        margin-left:-1em;
    }
    .accomodation
    {
        background-color:transparent;
        width: 295px;
        height: 500px;
        margin-left: -0.5em;
        -webkit-padding-start: 0.5em;
    }
    .accomodation h2
    {
        margin-left: -1em;
    }
    .marcus
    {
        background-color: white;
        box-shadow: 0px 2px 5px #F2F2F2;
        border-color: #F2F2F2;
        border-radius: 15px;
        padding: 7px;
        font-size: 0.9em;
        width: 330px;
        height: 155px;
        margin-bottom: 1.5em;
        margin-left: 2.75em;
        -webkit-margin-start: 2em;
    }
    .marcus-img
    {
        width: 330px;
        height: 100px;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        margin-top: -0.15em;
        margin-right: -0.15em;
        margin-left: -0em;
    }
    .marcus-price
    {
        font-size: 0.8em;
    }
    .fred
    {
        background-color: white;
        box-shadow: 0px 2px 5px #F2F2F2;
        border-color: #F2F2F2;
        border-radius: 15px;
        padding: 7px;
        font-size: 0.9em;
        width: 330px;
        height: 155px;
        margin-bottom: 1.5em;
        margin-left: 2.75em;
        -webkit-margin-start: 2em;
    }
    .fred-img
    {
        width: 330px;
        height: 100px;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        margin-top: -0.15em;
        margin-right: -0.15em;
        margin-left: -0em;
    }
    .fred-price
    {
        font-size: 0.8em;
    }
    .reisetopia
    {
        background-color: white;
        box-shadow: 0px 2px 5px #F2F2F2;
        border-color: #F2F2F2;
        border-radius: 15px;
        padding: 7px;
        font-size: 0.9em;
        width: 330px;
        height: 155px;
        margin-bottom: 1.5em;
        margin-left: 2.75em;
        -webkit-margin-start: 2em;
    }
    .reisetopia-img
    {
        width: 330px;
        height: 100px;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        margin-top: -0.15em;
        margin-right: -0.15em;
        margin-left: -0em;
    }
    .reisetopia-price
    {
        font-size: 0.8em;
    }
    .annie
    {
        background-color: white;
        box-shadow: 0px 2px 5px #F2F2F2;
        border-color: #F2F2F2;
        border-radius: 15px;
        padding: 7px;
        font-size: 0.9em;
        width: 330px;
        height: 155px;
        margin-bottom: 1.5em;
        margin-left: 2.75em;
        -webkit-margin-start: 2em;
    }
    .annie-img
    {
        width: 330px;
        height: 100px;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        margin-top: -0.15em;
        margin-right: -0.15em;
        margin-left: -0em;
    }
    .annie-price
    {
        font-size: 0.8em;
    }
    .nicate
    {
        background-color: white;
        box-shadow: 0px 2px 5px #F2F2F2;
        border-color: #F2F2F2;
        border-radius: 15px;
        padding: 7px;
        font-size: 0.9em;
        width: 330px;
        height: 155px;
        margin-bottom: 1.5em;
        margin-left: 2.75em;
        -webkit-margin-start: 2em;
    }
    .nicate-img
    {
        width: 330px;
        height: 100px;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        margin-top: -0.15em;
        margin-right: -0.15em;
        margin-left: -0em;
    }
    .nicate-price
    {
        font-size: 0.8em;
    }
    .febrian
    {
        background-color: white;
        box-shadow: 0px 2px 5px #F2F2F2;
        border-color: #F2F2F2;
        border-radius: 15px;
        padding: 7px;
        font-size: 0.9em;
        width: 330px;
        height: 155px;
        margin-bottom: 1.5em;
        margin-left: 2.75em;
        -webkit-margin-start: 2em;
    }
    .febrian-img
    {
        width: 330px;
        height: 100px;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        margin-top: -0.15em;
        margin-right: -0.15em;
        margin-left: -0em;
    }
    .febrian-price
    {
        font-size: 0.8em;
    }
    .afficher
    {
        border-radius: 0em;
        font-weight: bold;
        font-size: 0.9em;
        position: absolute;
        margin-left: -14em;
        margin-top: 78em;
        -webkit-margin-start: -15.5em;
    }
    .most-popular 
    {
        display: flex;
        justify-content: space-around;
        margin-top: -1em;
        margin-left: -1em;
        -webkit-margin-start: -2em;
    }
    .most-popular img
    {
        margin-right: 0.5em;
    }
    .emile
    {
        border-color: #F2F2F2;
        box-shadow: none;
        border-style: solid;
        border-width: thin;
        background-color: white;
        border-radius: 15px;
        font-size: 0.9em;
        width: 340px;
        height: 120px;
        margin-left: 4%;
        margin-top: 1.5%;
        margin-bottom: 0.75em;
        -webkit-margin-start: 0em;
    }
    .emile-img
    {
        width: 160px;
        height: 110px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding-left: 0.5%;
    }
    .emile-title
    {
        font-weight: bold;
        font-size: 0.9em;
        margin-left: 15em;
        margin-top: -8em;
    }
    .emile-title2
    {
        font-weight: bold;
        font-size: 0.9em;
        margin-left: 15em;
    }
    .emile-price
    {
        margin-top: -0.5em;
        margin-left: 17em;
        font-size: 0.80em;
    }
    .emile-star
    {
        display: flex;
        flex-direction: row;
    }
    .emile-star img
    {
        height: 10px;
        width: 10px;
        margin-bottom: -1em;
    }
    .emile-star1
    {
        margin-left: 13.5em;
    }
    .aw
    {
        border-color: #F2F2F2;
        box-shadow: none;
        border-style: solid;
        border-width: thin;
        background-color: white;
        border-radius: 15px;
        font-size: 0.9em;
        width: 340px;
        height: 120px;
        margin-left: 4%;
        margin-top: 1.5%;
        margin-bottom: 0.75em;
        -webkit-margin-start: 0em;
    }
    .aw-img
    {
        width: 160px;
        height: 110px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding-left: 0.5%;
    }
    .aw-title
    {
        font-weight: bold;
        font-size: 0.9em;
        margin-left: 15em;
        margin-top: -8em;
    }
    .aw-title2
    {
        font-weight: bold;
        font-size: 0.9em;
        margin-left: 15em;
    }
    .aw-price
    {
        margin-top: -0.5em;
        margin-left: 17em;
        font-size: 0.80em;
    }
    .aw-star
    {
        display: flex;
        flex-direction: row;
    }
    .aw-star img
    {
        height: 10px;
        width: 10px;
        margin-bottom: -1em;
    }
    .aw-star1
    {
        margin-left: 13.5em;
    }
    .zakaria
    {
        border-color: #F2F2F2;
        box-shadow: none;
        border-style: solid;
        border-width: thin;
        background-color: white;
        border-radius: 15px;
        font-size: 0.9em;
        width: 340px;
        height: 120px;
        margin-left: 4%;
        margin-top: 1.5%;
        margin-bottom: 0.75em;
        -webkit-margin-start: 0em;
    }
    .zakaria-img
    {
        width: 160px;
        height: 110px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding-left: 0.5%;
    }
    .zakaria-title
    {
        font-weight: bold;
        font-size: 0.9em;
        margin-left: 15em;
        margin-top: -8em;
    }
    .zakaria-title2
    {
        font-weight: bold;
        font-size: 0.9em;
        margin-left: 15em;
    }
    .zakaria-price
    {
        margin-top: -0.5em;
        margin-left: 17em;
        font-size: 0.80em;
    }
    .zakaria-star
    {
        display: flex;
        flex-direction: row;
    }
    .zakaria-star img
    {
        height: 10px;
        width: 10px;
        margin-bottom: -1em;
    }
    .zakaria-star1
    {
        margin-left: 13.5em;
    }
    .section2
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: 0.5em;
        margin-top: 45em;
        margin-bottom: 3em;
        -webkit-padding-start: 0.5em;
    }  
    .places
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 10em;
    }
    .activities
    {
        font-size: 0.75em;
        margin-left: 1em;
        margin-bottom: 1em;
        padding-top: 1em;
        margin-top: 2em;
        -webkit-margin-start: 0em;
    }
    .port
    {
        height: 170px;
        width: 330px;
        margin-top: -10em;   
        margin-left: 0.75em;
        -webkit-margin-start: 0.25em;
    }
    .port-img
    {
        width: 330px;
        height: 130px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px; 
    } 
    .port p
    {
        font-weight: bold;
        font-size: 0.80em;
        margin-left: 1em;
        margin-top: 0.5em;
    }
    .port-link
    {
        color: black;
        text-decoration: none;
    }

    .pomegues-img
    {
        width: 330px;
        height: 130px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .pomegues p
    {
        font-weight: bold;
        font-size: 0.80em;
        margin-left: 1em;
        margin-top: 0.5em;
    }
    .pomegues
    {
        height: 170px;
        width: 330px;
        margin-left: 0.75em;
        margin-top: 1em;
        -webkit-margin-start: 0.25em;
    }
    .pomegues-link
    {
        color: black;
        text-decoration: none;
    }
    .frioul-img
    {
        width: 330px;
        height: 130px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .frioul p
    {
        font-weight: bold;
        font-size: 0.80em;
        margin-left: 1em;
        margin-top: 0.35em;
    }
    .frioul
    {
        height: 170px;
        width: 330px;
        margin-left: 0.75em;
        margin-top: 1em;
        -webkit-margin-start: 0.25em;
    }
    .frioul-link
    {
        color: black;
        text-decoration: none;
    }
    .national
    {
        height: 170px;
        width: 330px;
        margin-left: 0.75em;
        margin-top: 1em;
        -webkit-margin-start: 0.25em;
    }
    .national-img
    {
        width: 330px;
        height: 130px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .national p
    {
        font-weight: bold;
        font-size: 0.80em;
        margin-left: 1em;
        margin-top: 0.5em;
    }
    .garde-img
    {
        width: 330px;
        height: 130px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .garde p
    {
        font-weight: bold;
        font-size: 0.8em;
        margin-left: 0.5em;
        margin-top: 0.6em;
    }
    .garde
    {
        height: 170px;
        width: 330px;
        margin-left: 0.75em;
        margin-top: 1em;
        -webkit-margin-start: 0.25em;
    }
    .garde-link
    {
        color: black;
        text-decoration: none;
    }
    .parc-img
    {
        width: 330px;
        height: 130px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .parc p
    {
        font-weight: bold;
        font-size: 0.8em;
        margin-left: 1em;
        margin-top: 0.5em;
    }
    .parc
    {
        height: 170px;
        width: 330px;
        margin-left: 0.75em;
        margin-top: 1em;
        -webkit-margin-start: 0.25em;
    }
    .parc-link
    {
        color: black;
        text-decoration: none;
    }
    footer
    {
        flex-direction: column;
        width: 375px;
        margin-left: 0%;
        margin-top: 2%;
        padding: 0 0rem;
    }
        .a-propos
    {
        margin-top: 1em;
        margin-left: 1.5em;
    }
    .nos-hébergements
    {
        margin-top: 1em;
        margin-left: 1.5em;
    }
     .assistance
    {
        margin-top: 1em;
        margin-left: 1.5em;
        margin-right: 0em;
        margin-bottom: 2em;
    }
}


@media only screen and (min-width : 1040px) and (max-width : 1374px) 
{   
   .section1
    {
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
    }
    .accomodation
    {
        margin-top: 2em;
        width: auto;
        height: auto;
    }
    .accomodation1
    {
        margin-top: 0em;
    }
    aside
    { 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: #F2F2F2;
        border-radius: 2em;
        margin-top: 2em;
        width: auto;
        height: auto; 
        padding-bottom: 2em;
        margin-left: -1em;
    }
    .afficher
    {
        margin-top: -0.5em;
    }
    .most-popular
    {
        display: flex;
        flex-direction: row;
        margin-top: -1em;
    }
    .emile
    {
        margin-top: 5em;
        margin-left: -20em;
    }
    .aw
    {
        margin-top: 5em;
        margin-left: 1em;
    }   
    .zakaria
    {
        margin-top: 5em;
        margin-left: 1em;
    }   
    .section2
    {
        margin-left: 0em;
        margin-top: 0em;
        margin-bottom: 3em;
        width: auto;
    }  
    .places
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: -2em;
        margin-left: -2em;
        width: auto;
    }
    .activities
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-weight: bold;
        font-size: 0.75em;
        margin-left: 1.7em;
        margin-bottom: 1em;
        padding-top: 1em;
        margin-top: 2em;
        width: auto;
    }
    .port
    {
        height: 145px;
        width: 175px;
        margin-left: 2em;
        margin-top: 2em;
    } 
    .port-img
    {
        width: 175px;
        height: 100px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }  
    .pomegues
    {
        height: 145px;
        width: 175px;
        margin-left: 2em;
        margin-top: 2em;
    } 
    .pomegues-img
    {
        width: 175px;
        height: 100px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    } 
    .frioul
    {
        height: 145px;
        width: 175px;
        margin-left: 2em;
        margin-top: 2em;
    } 
    .frioul-img
    {
        width: 175px;
        height: 100px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .national
    {
        height: 145px;
        width: 175px;
        margin-left: 2em;
        margin-top: 2em;
    } 
    .national-img
    {
        width: 175px;
        height: 100px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }  
    .garde
    {
        height: 145px;
        width: 175px;
        margin-left: 2em;
        margin-top: 2em;
    } 
    .garde-img
    {
        width: 175px;
        height: 100px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }  
    .parc
    {
        height: 135px;
        width: 175px;
        margin-left: 2em;
        margin-top: 2em;
    } 
    .parc-img
    {
        width: 175px;
        height: 100px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }  
    footer
    {
        display: flex;
        flex-direction: row;
        background-color: #F2F2F2;
        width: auto;
        height: auto;
        margin-bottom: -4em;
        margin-right: -2em;
    }
    .a-propos
    {
        margin-left: 4em;
    }
    .nos-hébergements
    {
        margin-left: 2em;
    }
    .assistance
    {
        margin-right: 10em;
    }
}
