/* Definition of the selected police */

@font-face
{
    font-family: 'Rallway';
    src: url('raleway/Raleway-Regular.ttf') format('truetype');
    src: url('raleway/Raleway-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Header */

header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 2em;
}

/* Principals elements of the page */

body
{
    font-family: 'Raleway-Regular', Arial, sans-serif;
}

.bloc_page
{
    margin-left: 9em;
    margin-right: 9em;
}

@media all and (max-width: 375px)
{
    .bloc_page
    {
        margin: auto;
    }
}

/* Header - main logo */

.logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.logo img
{
    width: 70px;
    height: 50px;
}

/* Header - search bar */

#sinscrire
{
    color: #0065FC;
    font-weight: bold;
}

.option ul
{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.option li
{
    padding-right: 15px;
}

.option a
{
    font-size: 0.90em;
    color: black;
    padding-bottom: 3px;
    text-decoration: none;
}

.option a:hover
{
    color: #0065FC;
    text-decoration-line: overline;
}

@media all and (max-width: 375px)
{
    .option a:hover
    {
        color: #0065FC;
        text-decoration-line: underline;
    }
        
    #activités
    {

    }

    #hébergements
    {
    
    }
}

/* Object */

.subtitle h2
{
    font-family: 'Raleway-Bold', Arial, sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: -1%;
}

@media all and (max-width: 375px)
{
    .subtitle h2
    {
        text-align: left;
    }
}

h3
{
    font-size: 1em;
    font-weight: normal;
}

@media all and (max-width: 375px)
{
    h3
    {
        font-size: 0.9em;
        font-weight: normal;
    }
}

/*City search bar*/

.search-bar
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.map-pin
{ 
    border-color: #F2F2F2;
    height: 34px;
    width: 40px;
}
.search
{
    font-weight: bold;
    height: 30px;
    width: 200px;
    border-color: #F2F2F2;
    font-family: 'Raleway-Bold', Arial, sans-serif;
    font-weight: bold;
    color: black;
    border-style: solid;
    border-width: thin;
    margin-left: -0.3em;
}
.btn-search
{
    background-color: #0065FC ;
    color: white;
    border-top-right-radius: 0.8em;
    border-bottom-right-radius: 0.8em;
    top: 355px;
    left: 575px;
    height: 34px;
    width: 100px;
    border-color: #0065FC;
    border: none;
}

.search-bar-mobile
{
        display: none;
}

@media all and (max-width: 375px)
{
    .search-bar
    {
        display: none;
    }
    
    .search-bar-mobile
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .map-pin-mobile
    { 
        border-color: #F2F2F2;
        height: 34px;
        width: 40px;  
        position: relative;  
    
    }
    .search-mobile
    {
        height: 30px;
        width: 200px;
        border-color:#F2F2F2;
        font-family: 'Raleway-Bold', Arial, sans-serif;
        font-weight: bold;
        color: black;
        border-style: solid;
        border-width: thin;
        margin-left: -0.3em;
    }
    .btn-search-mobile
    {
        background-color: #0065FC ;
        color: white;
        border-radius: 0.8em;
        height: 34px;
        width: 40px;
        border-color: #0065FC;
        border: none;
        margin-left: -1em;
    }  
    .search-pin-mobile
    {
        color: #F2F2F2;
        height: 20px;
        width: 20px;
        margin-top: 0.2em;
    }
}

/*Filter*/

.filters
{
    display: flex;
    align-items: flex-start ;
    padding-top: 1.5em;
    margin-bottom: -1.5em;
}

h4
{
    font-family: 'Raleway-Bold', Arial, sans-serif;
    font-size: 0.85em;
    font-weight: bold;
    margin-top: 1em;
    margin-right: 2em;
}

.economic .money 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;  
}

.money
{
    width: 50px;
    height: 40px;
    position: relative;
}

.economic
{
    margin-right: 1em;
    font-family: 'Raleway-Bold', Arial, sans-serif;
    font-weight: bold;
    background-color: white;
    border-style: solid;
    border-color: #F2F2F2;
    padding: 10px 25px 10px 40px;
    margin-left: -3em;
    border-radius: 3em;

}

.economic:hover 
{
    color: #0065FC;
    border-top: 1px solid #0065FC;
}

.familial .child 
{
    display: flex; 
    align-items:unset; 
}

.child
{
    width: 50px;
    height: 40px;
    margin-top: 0%;
    position: relative;
}

.familial
{
    margin-right: 1em;
    font-family: 'Raleway-Bold', Arial, sans-serif;
    font-weight: bold;
    background-color: white;
    border-style: solid;
    border-color: #F2F2F2;
    padding: 10px 25px 10px 40px;
    margin-left: -3em;
    border-radius: 3em;
}

.familial:hover 
{
    color: #0065FC;
    border-top: 1px solid #0065FC;
}

.romantic .heart 
{
    display: flex; 
    align-items:unset; 
}

.heart
{
    width: 50px;
    height: 40px;
    margin-top: 0%;
    position: relative;
}

.romantic
{
    margin-right: 1em;
    font-family: 'Raleway-Bold', Arial, sans-serif;
    font-weight: bold;
    background-color: white;
    border-style: solid;
    border-color: #F2F2F2;
    padding: 10px 25px 10px 40px;
    margin-left: -3em;
    border-radius: 3em;
}

.romantic:hover 
{
    color: #0065FC;
    border-top: 1px solid #0065FC;
}

.animals .dog
{
    display: flex; 
    align-items:unset; 
}

.dog
{
    width: 50px;
    height: 40px;
    margin-top: 0%;
    position: relative;
}

.animals
{
    margin-right: 1em;
    font-family: 'Raleway-Bold', Arial, sans-serif;
    font-weight: bold;
    background-color: white;
    border-style: solid;
    border-color: #F2F2F2;
    padding: 10px 25px 10px 40px;
    margin-left: -3em;
    border-radius: 3em;
}
.animals:hover 
{
    color: #0065FC;
    border-top: 1px solid #0065FC;
}

@media all and (max-width: 375px)
{

    .filters
    {
        display: flex;
        flex-direction: column;
    }

    .economic
    {
        margin-left: 0.9em;
        margin-top: -3em;
    }

    .child
    {
        margin-left: 10.5em;
        margin-top: -2.5em;
    }

    .familial
    {
        margin-left: 13.5em;
        margin-top: -2.95em;
    }

    .heart
    {
        margin-top: 0.7em;
    }

    .romantic
    {
        margin-left: 0.9em;
        margin-top: -2.95em;
    }

    .dog
    {
        margin-top: 0.7em;
    }

    .animals
    {
        margin-left: 0.9em;
        margin-top: -2.95em;
    }
}
/*Information*/

.information
{
    display: flex;
    align-items: flex-end ;
}

h5
{
    font-size: 0.75em;
    margin-left: 2.5em;
}

@media all and (max-width: 375px)
{
    h5
    {
        text-align: left;
    }
}

.info-pin
{
    width: 24px;
    height: 24px;
    margin-bottom: -2.7em;
}

/*Accomodation*/

.section1
{
    display: flex;
    justify-content: space-between;
    align-items:inherit;
}

.accomodation
{
    background-color: #F2F2F2;
    border-radius: 2em;
    width: 660px;
    height: 500px;
}

aside
{ 
    background-color: #F2F2F2;
    border-radius: 2em;
    width: 295px;
    height: 500px; 
}

.accomodation h2
{
    font-family: 'Raleway-Bold', Arial, sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    margin-left: 1.5em;
    margin-bottom: 1em;
    padding-top: 1em;
}

.marcus
{
    background-color: white;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 10px;
    padding: 8px;
    font-size: 0.9em;
    width: 170px;
    height: 140px;
    margin-bottom: 1.5em;
    margin-left: 1.5em;
}

.marcus-img
{
    width: 175px;
    height: 100px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    margin-top: -0.35em;
    margin-right: -0.25em;
    margin-left: -0.15em;
}

.marcus-title
{
    font-family: 'Raleway-Bold', Arial, sans-serif;
    font-weight: bold;
    margin-top: 0em;
    font-size: 0.80em;
}

.marcus-price
{
    margin-top: -0.5em;
    margin-bottom: -0.3em;
    font-size: 0.70em;
}
.marcus-star img
{
    height: 10px;
    width: 10px;
    margin-top: 0.75em; 
}

.marcus-link
{
    color: black;
    text-decoration: none;
}

.fred
{
    background-color: white;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 10px;
    padding: 8px;
    font-size: 0.9em;
    width: 170px;
    height: 140px;
    margin-bottom: 1.5em;
    margin-left: 1.5em;
}

.fred-img
{
    width: 175px;
    height: 100px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    margin-top: -0.35em;
    margin-right: -0.25em;
    margin-left: -0.15em;
}

.fred-title
{
    font-family: 'Raleway-Bold', Arial, sans-serif;
    font-weight: bold;
    margin-top: 0em;
    font-size: 0.80em;
}

.fred-price
{
    margin-top: -0.5em;
    margin-bottom: -0.3em;
    font-size: 0.70em;
}
.fred-star img
{
    height: 10px;
    width: 10px;
    margin-top: 0.75em;
}

.fred-link
{
    color: black;
    text-decoration: none;
}

.reisetopia
{
    background-color: white;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 10px;
    padding: 8px;
    font-size: 0.9em;
    width: 170px;
    height: 140px;
    margin-bottom: 1.5em;
    margin-left: 1.5em;
}

.reisetopia-img
{
    width: 175px;
    height: 100px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    margin-top: -0.35em;
    margin-right: -0.25em;
    margin-left: -0.15em;
}

.reisetopia-title
{
    font-family: 'Raleway-Bold', Arial, sans-serif;
    font-weight: bold;
    margin-top: 0em;
    font-size: 0.80em;
}

.reisetopia-price
{
    margin-top: -0.5em;
    margin-bottom: -0.3em;
    font-size: 0.70em;
}
.reisetopia-star img
{
    height: 10px;
    width: 10px;
    margin-top: 0.75em; 
}

.reisetopia-link
{
    color: black;
    text-decoration: none;
}
.annie
{
    background-color: white;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 10px;
    padding: 8px;
    font-size: 0.9em;
    width: 170px;
    height: 140px;
    margin-bottom: 1.5em;
    margin-left: 1.5em;
}

.annie-img
{
    width: 175px;
    height: 100px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    margin-top: -0.35em;
    margin-right: -0.25em;
    margin-left: -0.15em;
}

.annie-title
{
    font-family: 'Raleway-Bold', Arial, sans-serif;
    font-weight: bold;
    margin-top: 0em;
    font-size: 0.80em;
}

.annie-price
{
    margin-top: -0.5em;
    margin-bottom: -0.3em;
    font-size: 0.70em;
}
.annie-star img
{
    height: 10px;
    width: 10px;
    margin-top: 0.75em; 
}

.annie-link
{
    color: black;
    text-decoration: none;
}

.nicate
{
    background-color: white;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 10px;
    padding: 8px;
    font-size: 0.9em;
    width: 170px;
    height: 140px;
    margin-bottom: 1.5em;
    margin-left: 1.5em;
}

.nicate-img
{
    width: 175px;
    height: 100px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    margin-top: -0.35em;
    margin-right: -0.25em;
    margin-left: -0.15em;
}

.nicate-title
{
    font-family: 'Raleway-Bold', Arial, sans-serif;
    font-weight: bold;
    margin-top: 0em;
    font-size: 0.80em;
}

.nicate-price
{
    margin-top: -0.5em;
    margin-bottom: -0.3em;
    font-size: 0.70em;
}
.nicate-star img
{
    height: 10px;
    width: 10px;
    margin-top: 0.75em;
}

.nicate-link
{
    color: black;
    text-decoration: none;
}

.febrian
{
    background-color: white;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 10px;
    padding: 8px;
    font-size: 0.9em;
    width: 170px;
    height: 140px;
    margin-bottom: 1.5em;
    margin-left: 1.5em;
}

.febrian-img
{
    width: 175px;
    height: 100px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    margin-top: -0.35em;
    margin-right: -0.25em;
    margin-left: -0.15em;
}

.febrian-title
{
    font-family: 'Raleway-Bold', Arial, sans-serif;
    font-weight: bold;
    margin-top: 0em;
    font-size: 0.80em;
}

.febrian-price
{
    margin-top: -0.5em;
    margin-bottom: -0.3em;
    font-size: 0.70em;
}
.febrian-star img
{
    height: 10px;
    width: 10px;
    margin-top: 0.75em;
}

.febrian-link
{
    color: black;
    text-decoration: none;
}

.afficher
{
    border-radius: 2em;
    font-family: 'Raleway-Bold', Arial, sans-serif;
    font-weight: bold;
    font-size: 0.8em;
    margin-left: 1.5em;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.emile
{
    box-shadow: 0px 2px 5px #1c1a19;
    background-color: white;
    border-radius: 10px;
    font-size: 0.9em;
    width: 250px;
    height: 100px;
    margin-left: 1.5em;
    margin-top: 1.5%;
}

.emile-img
{
    width: 100px;
    height: 90px;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    margin-left: 0.25em;
    margin-top: 0.35em ;
}

.emile-title
{
    font-family: 'Raleway-Bold', Arial, sans-serif;
    font-weight: bold;
    font-size: 0.80em;
    margin-left: 10em;
    margin-top: -7em;
}
.emile-title2
{
    font-family: 'Raleway-Bold', Arial, sans-serif;
    font-weight: bold;
    font-size: 0.80em;
    margin-left: 10em;
    margin-top: -1em;
}

.emile-price
{
    margin-top: -0.5em;
    margin-left: 11.5em;
    font-size: 0.70em;
}

.emile-star
{
    display: flex;
    flex-direction: row;
}

.emile-star img
{
    height: 10px;
    width: 10px;
    margin-bottom: -0.5em;
}

.emile-star1
{
    margin-left: 8em;
}

.emile-link
{
    color: black;
    text-decoration: none;
}

.aw
{
    box-shadow: 0px 2px 5px #1c1a19;
    background-color: white;
    border-radius: 10px;
    font-size: 0.9em;
    width: 250px;
    height: 100px;
    margin-left: 1.5em;
    margin-top: 2em;
}

.aw-img
{
    width: 100px;
    height: 90px;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    margin-left: 0.25em;
    margin-top: 0.35em ;
}

.aw-title
{ 
    font-family: 'Raleway-Bold', Arial, sans-serif;
    font-weight: bold;
    font-size: 0.80em;
    margin-left: 10em;
    margin-top: -7em;
}

.aw-title2
{
    font-family: 'Raleway-Bold', Arial, sans-serif;
    font-weight: bold;
    font-size: 0.80em;
    margin-left: 10em;
    margin-top: -1em;
}

.aw-price
{
    margin-top: -0.5em;
    margin-left: 11.5em;
    font-size: 0.70em;
}

.aw-star
{
    display: flex;
    flex-direction: row;
}

.aw-star img
{
    height: 10px;
    width: 10px;
    margin-bottom: -0.5em;
}

.aw-star1
{
    margin-left: 8em;
}

.aw-link
{
    color: black;
    text-decoration: none;
}

.zakaria
{
    box-shadow: 0px 2px 5px #1c1a19;
    background-color: white;
    border-radius: 10px;
    font-size: 0.9em;
    width: 250px;
    height: 100px;
    margin-left: 1.5em;
    margin-top: 2em;
}

.zakaria-img
{
    width: 100px;
    height: 90px;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    margin-left: 0.25em;
    margin-top: 0.35em ;
}

.zakaria-title
{
    font-family: 'Raleway-Bold', Arial, sans-serif;
    font-weight: bold;
    font-size: 0.80em;
    margin-left: 10em;
    margin-top: -7em;
}

.zakaria-title2
{
    font-family: 'Raleway-Bold', Arial, sans-serif;
    font-weight: bold;
    font-size: 0.80em;
    margin-left: 10em;
    margin-top: -1em;
}

.zakaria-price
{
    margin-top: -0.5em;
    margin-left: 11.5em;
    font-size: 0.70em;
}

.zakaria-star
{
    display: flex;
    flex-direction: row;
}

.zakaria-star img
{
    height: 10px;
    width: 10px;
    margin-bottom: -0.5em;
}

.zakaria-star1
{
    margin-left: 8em;
}

.zakaria-link
{
    color: black;
    text-decoration: none;
}

.most-popular
{
    display: flex;
    flex-direction: row;
}

.most-popular h2
{
    font-family: 'Raleway-Bold', Arial, sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    margin-left: 1em;
    margin-bottom: 1em;
    padding-top: 1em;
}

.most-popular img
{
    height: 20px;
    width: 20px;
    margin-left: 3em;
    padding-top: 2.5em;
}

/* Activities search*/

.activities
{
    font-family: 'Raleway-Bold', Arial, sans-serif;
    font-size: 0.75em;
    font-weight: bold;
    margin-left: 1.5em;
    margin-bottom: 1em;
    padding-top: 1em;
    margin-top: 4em;
}

.port
{
    background-color: white;
    box-shadow: 0px 2px 5px #F2F2F2;
    border-radius: 10px;
    height: 280px;
    margin-left: 1em;
}

.port-img
{
    width: 200px;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.port p
{
    font-family: 'Raleway-Bold', Arial, sans-serif;
    font-weight: bold;
    font-size: 0.70em;
    margin-left: 1em;
    margin-top: 0.5em;
}

.port-link
{
    color: black;
    text-decoration: none;
}

.pomegues-img
{
    width: 200px;
    height: 115px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.pomegues p
{
    font-family: 'Raleway-Bold', Arial, sans-serif;
    font-weight: bold;
    font-size: 0.70em;
    margin-left: 1em;
    margin-top: 0.5em;
}

.pomegues
{
    background-color: white;
    box-shadow: 0px 2px 5px #F2F2F2;
    border-radius: 10px;
    height: 145px;
    margin-left: 2.10em;
}

.pomegues-link
{
    color: black;
    text-decoration: none;
}

.frioul-img
{
    width: 200px;
    height: 90px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.frioul p
{
    font-family: 'Raleway-Bold', Arial, sans-serif;
    font-weight: bold;
    font-size: 0.70em;
    margin-left: 1em;
    margin-top: 0.35em;
}

.frioul
{
    background-color: white;
    box-shadow: 0px 2px 5px #F2F2F2; 
    border-radius: 10px;
    height: 120px;
    margin-left: 2.10em;
    margin-top: 0.95em;
}

.frioul-link
{
    color: black;
    text-decoration: none;
}

.national
{
    background-color: white;
    box-shadow: 0px 2px 5px #F2F2F2;
    border-radius: 10px;
    height: 285px;
    margin-left: 2.10em;
}

.national-img
{
    width: 200px;
    height: 255px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.national p
{
    font-family: 'Raleway-Bold', Arial, sans-serif;
    font-weight: bold;
    font-size: 0.70em;
    margin-left: 1em;
    margin-top: 0.5em;
}

.national-link
{
    color: black;
    text-decoration: none;
}

.garde-img
{
    width: 200px;
    height: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.garde p
{
    font-family: 'Raleway-Bold', Arial, sans-serif;
    font-weight: bold;
    font-size: 0.70em;
    margin-left: 1em;
    margin-top: 0.6em;
}

.garde
{
    background-color: white;
    box-shadow: 0px 2px 5px #F2F2F2;
    border-radius: 10px;
    height: 130px;
    margin-left: 2.10em;
    margin-bottom: -0.3em;
}

.garde-link
{
    color: black;
    text-decoration: none;
}

.parc-img
{
    width: 200px;
    height: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.parc p
{
    font-family: 'Raleway-Bold', Arial, sans-serif;
    font-weight: bold;
    font-size: 0.70em;
    margin-left: 1em;
    margin-top: 0.5em;
}

.parc
{
    background-color: white;
    box-shadow: 0px 2px 5px #F2F2F2;
    border-radius: 10px;
    height: 130px;
    margin-left: 2.10em;
    margin-top: 2em;
}

.parc-link
{
    color: black;
    text-decoration: none;
}

/* Footer */

footer
{
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    margin-top: 2em;
}
footer p, footer h4
{
    font-size: 0.70em;
}

footer h4
{
    font-family: 'Raleway-Bold', Arial, sans-serif;
    font-weight: bold;
}

.a-propos
{
    margin-top: 1em;
    margin-left: 2em;
}

.nos-hébergements
{
    margin-top: 1em;
    margin-left: -3em;
}

.assistance
{
    margin-top: 1em;
    margin-right: 14em;
}