/* Definition of the selected police */

@font-face
{
    font-family: 'Rallway';
    src: url('raleway/Raleway-Regular.ttf') format('truetype');
    src: url('raleway/Raleway-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Header */

header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 2em;
}

/* Principals elements of the page */

body
{
    font-family: 'Raleway-Regular', Arial, sans-serif;
}

.bloc_page
{
    width: 900px;
    margin: auto;
}

/* Header - main logo */

.logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.logo img
{
    width: 59px;
    height: 40px;
}

/* Header - search bar */

#sinscrire
{
    color: #0065FC;
    font-weight: bold;
}

.option ul
{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.option li
{
    padding-right: 15px;
}

.option a
{
    font-size: 0.90em;
    color: black;
    padding-bottom: 3px;
    text-decoration: none;
}

.option a:hover
{
    color: #0065FC;
    border-top: 1px solid #0065FC;
}

/* Object */

.subtitle h2
{
    font-family: 'Raleway-Bold', Arial, sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: -1%;
}

h3
{
    font-size: 1em;
    font-weight: normal;
}

/*City search bar*/

.search-bar
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.map-pin
{ 
    border-color: #F2F2F2;
    height: 39px;
    width: 40px;
    margin-top: -0.20%;
}
.search
{
    font-weight: bold;
    color: black;
    top: 355px;
    left: 575px;
    height: 30px;
    width: 200px;
    border-color: #F2F2F2;
}
.btn-search
{
    background-color: #0065FC ;
    color: white;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    top: 355px;
    left: 575px;
    height: 35px;
    width: 100px;
    border-color: #0065FC;
}

/*Filter*/

.filters
{
    display: flex;
    align-items: flex-start ;
    padding-top: 2em;
}

h4
{
    font-family: 'Raleway-Bold', Arial, sans-serif;
    font-size: 0.85em;
    font-weight: bold;
    margin-top: 0.8%;
    margin-right: 2em;
}

.economic .money 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}

.familial .child 
{
    display: flex; 
    align-items:unset; 
}

.romantic .heart 
{
    display: flex; 
    align-items:unset; 
}

.animals .dog
{
    display: flex; 
    align-items:unset; 
}

.money
{
    width: 40px;
    height: 30px;
    margin-top: 0%;
    position: relative;
}

.economic
{
    margin-right: 1em;
    font-family: 'Raleway-Bold', Arial, sans-serif;
    font-weight: bold;
    background-color: white;
    border-style: solid;
    border-color: #F2F2F2;
    padding: 5px 15px 5px 30px;
    margin-left: -2.7%;
    border-radius: 1em;
}

.child
{
    width: 40px;
    height: 30px;
    margin-top: 0%;
    position: relative;
}

.familial
{
    margin-right: 1em;
    font-family: 'Raleway-Bold', Arial, sans-serif;
    font-weight: bold;
    background-color: white;
    border-style: solid;
    border-color: #F2F2F2;
    padding: 5px 15px 5px 30px;
    margin-left: -2.7%;
    border-radius: 1em;
}

.heart
{
    width: 40px;
    height: 30px;
    margin-top: 0%;
    position: relative;
}

.romantic
{
    margin-right: 1em;
    font-family: 'Raleway-Bold', Arial, sans-serif;
    font-weight: bold;
    background-color: white;
    border-style: solid;
    border-color: #F2F2F2;
    padding: 5px 15px 5px 30px;
    margin-left: -2.7%;
    border-radius: 1em;
}

.dog
{
    width: 40px;
    height: 30px;
    margin-top: 0%;
    position: relative;
}

.animals
{
    margin-right: 1em;
    font-family: 'Raleway-Bold', Arial, sans-serif;
    font-weight: bold;
    background-color: white;
    border-style: solid;
    border-color: #F2F2F2;
    padding: 5px 15px 5px 30px;
    margin-left: -2.7%;
    border-radius: 1em;
}